@font-face {
    font-family: 'Montserrat';
    src: url('/website_customizations/static/src/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/website_customizations/static/src/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/website_customizations/static/src/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;