#custom_footer {
    font-family: 'Montserrat', sans-serif !important;
}


footer#custom_footer a {
    color: #7abfba !important;
    transition: color 0.3s ease;
}

footer#custom_footer a:hover {
    color: #66a39e !important;
}

/* Hide Odoo's default copyright */
.o_footer_copyright,
.o_footer .container,
.o_footer_copyright.o_colored_level {
    display: none !important;
}